.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vehicle {
  display: flex;
}

.icon-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 2em;
  height: 4em;
}

.data-right {
  flex: 1;
  text-align: left;
}

.buttons-right > * {
  margin-right: 0.3em;
}

.buttons-right {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 6em;
  text-align: left;
}

.link-button {
  text-decoration: none;
  text-align: center;
  background-color: #1976d2;
  color: white;
  padding: 0.5em;
}

.makeBigger {
  margin: 1.4em;
}

.card-item {
  margin: 2em 1em 2em 1em;
}

.card-item * {
  margin-top: 0;
  margin-bottom: 0;
}

.full-button {
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  width: calc(100% - 2em);
  background-color: none;
  border: none;
  padding: 1em;
  margin: 1em;
}

.filteri {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.root {
  margin-left: 1.0em;
  margin-right: 1.0em;
}

.chat-bubble {
  max-width: 60%;
  border-radius: 0.7em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.4em;
}

.chat-left {
  background-color: #1976d2;
  color: white;
}

.chat-right {
  margin-left: auto;
  background-color: white;
  border: solid #1976d2 1px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.fake-toolbar {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.MuiPaper-root {
  border-right: none !important;
}

@media only screen and (max-width: 600px) {
  .login {
  margin-left: 1.0em;
  margin-right: 1.0em;
  }
}
@media only screen and (min-width: 600px) {
  .login{
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
  }

  :root {
    --drawer-width: 17em;
  }

  header, .root {
    margin-left: var(--drawer-width);
    width: calc(100% - var(--drawer-width));
  }

  .root {
    min-height: calc(100vh - var(5.6em));
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

}

.force-margin > * {
  margin-top: 1em !important;
}

.columns-container {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1;
  padding: 1em;
}

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.5em 2em 0.5em;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  display: flex;
  font-weight: bold;
}

.user-name > * {
  margin-right: 0.5em;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details > p {
  margin: 0;
  margin-top: 0.5em;
}

.user-type {
  text-align: right;
}


